:root {
    --lightBlue: #00318C;
    --darkbg: #1E1E1F;
    --darkerbg: #121212;
    --purple: #B30BFC;
    --lightpurple: #c85ff5;
  }

body{
    background-color: var(--darkerbg);
    font-family: 'Poppins';
}
html{
  scroll-behavior: smooth;
}


  /* colors*/
  .pry-color{
    color: var(--purple);
  }
  .sec-color{
    color: var(--lightBlue);
  }
  .pry-bg-color{
    background-color: var(--darkbg);
  }

  /* logo */
  .custom-logo{
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  /* button*/
  .custom-btn{
    padding: 10px 40px;
    background-color: var(--purple);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    color: white;
    box-shadow: 0 5px 18px var(--purple), 0px 0px 6px #c235ff inset;
    transition: all ease-in-out 0.3s;
  }

  
  .custom-btn:hover{
    background: white;
    color: var(--darkerbg);
    box-shadow: 0 5px 18px white;
  
  }
/* icons */
.icon{
  color: var(--lightpurple);
}
  /* custom text style*/
  .heading1{
    font-size:60px !important;
    color: white !important;
  }
  .heading2{
    font-size: 40px !important;
    color: white !important;
  }
  .heading3{
    font-size: 30px !important;
    color: var(--lightpurple) !important;
  }
  .heading4{
    font-size: 25px !important;
    color: white !important;
  }
  .heading-title{
    position: relative;
    padding-bottom: 7px;
    color: white;
  }
  
  .heading-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background: var(--lightpurple);
    border-radius: 3px;
  }
 
  .paragraph{
    font-size: 15px;
    color: rgb(155, 154, 154);
  }
/* loader*/
.loader-wrapper{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 8s;
}
.loader{
  font-size: 48px;
  color: #FFF;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:after{
  content: 'Loading';
  position: relative;
  z-index: 5;
}
.loader:before{
  content: '';
  height: 10px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(var(--purple) 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 5s lineGrow linear infinite;
}

/* Glow Cursor */
.glow {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--purple);
  filter: blur(150px);
  mix-blend-mode: screen;
  /* Glowing effect */
  pointer-events: none;
  /* Allow interaction with underlying elements */
  transform: translate(-50%, -50%);
  transition: all ease-in-out 0.3s;
  transition: width 0.2s ease, height 0.2s ease;
  z-index: 9999;
}
@media (max-width: 994.9px) {
  .glow-cursor {
    opacity: 0;
  }
}

/*cursor */
.cursor{
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius:50% ;
  border: 1px solid #c6c6c6;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1s;
  z-index: 9999;
   }
   .cursor2{
  position: fixed;
  width: 6px;
  height: 6px;
  border-radius:50% ;
  background-color:  #c6c6c6;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .15s;
  z-index: 9999;
   }

   .grow{
    transform: translate(-50%, -50%) scale(2.5);
    background-color: #c6c6c6;
    opacity: .5;
  }
  .hide{
    opacity: 0;
  }

@keyframes lineGrow {to {  background-size: 100% auto}}
  /*navbar*/
  .new-navbar{
    
    background: hsla(240, 1%, 17%, 0.75);
    backdrop-filter: blur(10px);
    transition: all ease-in-out 0.5s;
    height: 65px;
  }
  .navbar{
    transition:  0.5s;
  }
  .navbar-nav .nav-item{
    margin-left: 12px;
    font-size: 15px;
    font-weight: 500;
  }
  .active{
    color: var(--lightpurple)!important;
    
  }
  /* Hero */
  .row div model-viewer {
    width: 350px;
    height: 350px;
    display: block;
  }
  .hero h1{
    font-size: 60px !important;
  }

  /* About me*/
  .about-me{
    background-color: var(--darkbg);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .job-tits{
    background-color: var(--darkbg);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 
  }
  






  
.container {
  max-width: 1200px;
  width: 95%;
}
.slider-wrapper {
  position: relative;
  cursor: pointer;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: px;
  object-fit: cover;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: var(--purple);
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}



/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

.article-title { margin-bottom: 30px; }


/**
 * education and experience 
 */

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: 14px;
  margin-left: 45px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: var(--lightpurple);
  font-weight: 400;
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: grey;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--lightpurple);
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(128, 128, 128, 0.199);
}

.timeline-text {
  color: grey;
  font-weight: 300;
  line-height: 1.6;
}


/**
 * skills 
 */

.skills-title { margin-bottom: 20px; }

.skills-list { padding: 20px; }


.skills-item:not(:last-child) { margin-bottom: 15px; }

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
  color: white;
}

.skill .title-wrapper data {
  color: grey;
  font-size: 20px;
  font-weight: 300;
}

.skill-progress-bg {
  background: gray;
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: var(--purple);
  height: 100%;
  border-radius: inherit;
}

/* Portfolio */
.all {
  width: 320px;
  height: 10.5rem;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.all img {
 width: 100%;
 border-radius: 20px;
 transition: all 0.5s;
}
.eye{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  opacity: 0;
  transition: all 0.5s;
  border-radius: 20px;
  cursor: pointer;
  
}

.all:hover .eye{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.all:hover img{
  transform: scale(1.3);
}

/* BACK TO TOP*/
#Top{
  /* background-color: var(--darkbg); */
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
#Top-value{
  display: block;
  height: calc(100% - 3px);
  width: calc(100% - 3px);
  background-color: var(--darkerbg);
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--lightpurple);
font-size: 25px;
}





